/*   ------ IMAGEN UDG LOGGIN -----*/
.imagen_udg {
}
.imagen_udg {
	padding-top: 35px;
	padding-left: 45px;
	position: absolute;
}
/* ---------- FOODER DE LOGGIN   ------ */
.Imagenfooter {
    margin-left: -9px;
	padding-top: 35%;
}